- content_for :title do
	| Why Ruby?
- content_for :h1 do
	Why Ruby?
- content_for :body_class do
	reader

%p.nes-container.is-rounded
	%em Heads up!
	This is a part of the
	%a{href: '/2020-100days-what-why'} #100DaysOfBlog series.

%p
	Languages are an interesting topic.  I feel like there are life experiences,
	personal choices, and other variables that define what you like in a language.
	For me, I really enjoy the syntax in Ruby.  Ruby can look like natural
	English, and does not require many symbols, which makes it feel very readable.
	The dynamic typing works for my mental model (preferring static typing is one
	of those life experiences things, in my opinion).  However, with Ruby 3.0,
	static typing is now optionally available.

%p
	Let's look at some code:
	%script{src: 'https://gist.github.com/exegete46/c85108be26d696da823a464df7275762.js'}

%p
	This type of syntax has always looked succinct and beautiful to me.  Your
	milage may vary.