- content_for :h1 do
  Exegete.me


.content
  %section.blog-entry.nes-container.is-rounded
    %a{href: '/sinatra-on-glitch', alt: 'Sinatra on Glitch'}
      %h2 Sinatra on Glitch
    %p What is Glitch? Why should I care? What can I run?
  %section.blog-entry.nes-container.is-rounded
    %a{href: '/rails-server-side-rendering', alt: 'Rails Server-Side Rendering'}
      %h2 Rails Server-Side Rendering
    %p What does it take to 
  %section.blog-entry.nes-container.is-rounded
    %a{href: '/vscode-sync-reauthenticate-mac', alt: 'Sinatra on Glitch'}
      %h2 VS Code Sync - Authentication
    %p
      VS Code think you're signed in to Github, but get a 401
      every time you try to sync your settings?