- content_for :h1 do
  Exegete.me


.content
  %section.blog-entry.nes-container.is-rounded
    %a{href: '/2020-100days-hello-world', alt: 'Hello, World!'}
      %h2 Hello, World!
    %p
      Boilerplate first "program", plus a bit of 
      %em #2DaysOfBlog
  %section.blog-entry.nes-container.is-rounded
    %a{href: '/2020-100days-why-ruby', alt: 'Why Ruby?'}
      %h2 Why Ruby?
    %p
      Why do I like Ruby?  Syntax, frameworks, the lot.
      %em #1DaysOfBlog
  %section.blog-entry.nes-container.is-rounded
    %a{href: '/2020-100days-what-why', alt: 'What is 100 Days of Blog?'}
      %h2 What is #100DaysOfBlog?
    %p
      What the heck are you doing?  What are these posts?
      %b WHY!?
      %em #0DaysOfBlog
  %section.blog-entry.nes-container.is-rounded
    %a{href: '/vscode-sync-reauthenticate-mac', alt: 'VS Code Sync - Rauthenticate on MacOS'}
      %h2 VS Code Sync - Authentication
    %p
      VS Code think you're signed in to Github, but get a 401
      every time you try to sync your settings?
  %section.blog-entry.nes-container.is-rounded
    %a{href: '/rails-server-side-rendering', alt: 'Rails Server-Side Rendering'}
      %h2 Rails Server-Side Rendering
    %p
      What does it take to design a Twitch overlay bot in
      Rails?
  %section.blog-entry.nes-container.is-rounded
    %a{href: '/sinatra-on-glitch', alt: 'Sinatra on Glitch'}
      %h2 Sinatra on Glitch
    %p What is Glitch? Why should I care? What can I run?