- content_for :h1 do
  Exegete.me

#content
  .nes-container.with-title.is-rounded
    %p.title Under Construction
    %p   
      Hey there! If you're reading this, I haven't found an under
      construction GIF yet.