- content_for :h1 do
  Exegete.me


.content
  %section.blog-entry.nes-container.is-rounded
    %a{href: '/sinatra-on-glitch', alt: 'Sinatra on Glitch'}
      %h2 Sinatra on Glitch
    %p What is Glitch? Why should I care? What can I run?