- content_for :title do
  | Rails Server Side Rendering
- content_for :h1 do
  Rails Server Side Rendering
- content_for :body_class do
  reader

%p
  A few months ago I stubmled across the world of developers who
  stream on Twitch.  Many of the steams I've watched are working
  in Vue, React, Angular, Svelte and other wonderful front end
  frameworks.  This got me thinking: Can I accomplish similar
  functionality using Rails, and preferably with a light-weight
  Javascript front end.

%p
  To that end, I began work, like many Twitch streamers do, on
  an overlay bot to overlay Twitch chat onto the stream itself.
  %img.max-width{src: '', title: 'Screenshot of chat overlay'}

%p
  Overall, 
