- content_for :title do
  | Sinatra on Glitch
- content_for :h1 do
  Sinatra on Glitch
- content_for :body_class do
  reader


%p
  Often, when I have a CSS, JS, and/or HTML, problem to solve I reach for
  a service like
  %a{href: 'https://codepen.io/', target: :_blank} Codepen,
  or
  %a{href: 'https://jsfiddle.net/', target: :_blank} JsFiddle.
  After  hacking away for a bit, I frequently find myself wishing for
  more thanthose apps offer. A second page to link to, something from a
  node module, or even a quick API endpoint.

%p
  This is why I've started reaching for
  %a{href: 'https://glitch.com/', target: :_blank} Glitch
  instead. Glitch allows you to create not just CSS, JS, or HTML, but
  full-fledged apps, with a build in text editor, assets, and a terminal!
  It scratches all of the itches whenever I need to expand. Glitch can run
  %a{href: 'https://support.glitch.com/t/language-support-on-glitch-a-list/5466', target: :_blank} many different languages,
  such as:

%ul
  %li Python
  %li Go
  %li Ruby
  %li .NET
  %li PHP

%p
  Now, I'm a Ruby guy. I find myself hugging its syntax, its community,
  and often prospecting for new or interesting Gem's (Ruby's packages). To
  that end, I wrote a minimal
  %a{href: 'https://sinatrarb.com', target: :_blank} Sinatra
  app on
  Glitch. You can check out the
  %a{href: 'https://glitch.com/edit/#!/sinatra-glitch', target: :_blank} Glitch Project,
  and if you want to play around, you can
  %a{href: 'https://glitch.com/edit/#!/remix/sinatra-glitch', target: :_blank} Remix the Project
  and start hacking right away.
  %img.img-center{align: :middle,
                  style: 'max-width: 240px;',
                  src: 'https://cdn.glitch.com/b6464ebc-72e3-4511-9f44-177e31e51519%2FScreenshot%202020-09-24%20at%202.24.35%20PM.png?v=1600982798426',
                  alt: 'Screenshot highlighting remix project on the Glitch UI'}
  The source of the Sinatra app is also available on
  %a{href: 'https://github.com/exegete46/sinatra-glitch/', target: :_blank} Github.

%p
  Ok, but what's the downside? You have limited resources. At the time of
  writing, 512gb of RAM, and 200mb of storage. That is, of course, unless
  you
  %a{href: 'https://glitch.com/pricing', target: :_blank} upgrade
  to a paid plan, which are priced pretty darn reasonably.
%p
  Glitch offers many features, remixable starters, and even has
  colaborative development like Google Docs. For more details, check out
  %a{href: 'https://glitch.com/create', target: :_blank} Glitch's Create page
  for more ideas.
%p
  I can't recommend enough that you check out Glitch for your next
  %a{href: 'https://glitch.com/edit/#!/remix/hello-webpage', target: :_blank} CSS, JS, and HTML experiment.