- content_for :title do
  | VS Code Sync - Authentication
- content_for :h1 do
  VS Code Sync - Authentication
- content_for :body_class do
  reader

%p
  The other day I was going through the
  %a{href: "https://github.com/settings/applications", target: :_black}
    OAuth tokens on my github account,
  and managed to completely break VS Code's new Sync
  functionality.  Every request returned a 401, but
  when I click to "Turn On..." sync, it would not prompt
  to re-authenticate.

%p
  I spent a day debugging this, only to find a simple
  answer:  Delete the 
  %code vscode-github.login
  entry in your MacOS Keychain.
  %img.img-center{align: :middle,
                  style: 'max-width: 480px;',
                  src: 'https://cdn.glitch.com/bc55f798-18bf-4fc4-b01d-a1ec27928a8e%2FScreen%20Shot%202020-10-05%20at%201.12.44%20PM.png?v=1601928787079',
                  alt: 'Screenshot of MacOS Keychain application, showing the vscode-github.login entry'}
  
%p
  Once this is done, "Turn off" and "Turn On" sync again
  and it should prompt to re-authenticate.  Easy!

